NLP_search_engine/spiders/texts.json
/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.pytest_cache/

# Windows
Thumbs.db
NLP_search_engine/spiders/hackernews.json
NLP_search_engine/spiders/technews.json
NLP_search_engine/database/crawler_db.sqlite
NLP_search_engine/pos_tags.json
NLP_search_engine/texts_pos_tagged_all.json
NLP_search_engine/texts_pos_tagged.json
NLP_search_engine/vector_space.json
